body {
  margin: 0;
  padding: 0;
  background: #891e3a;
  font-family: 'Lato', sans-serif;
}
input {
  font-family: 'Lato', sans-serif;
}
a {
  color: #891e3a;
}

.App{
  max-width: 1200px;
  margin: 0 auto;
  background-color: #edecea;
  box-shadow: 0px 0px 16px 10px rgba(30, 30, 30, 0.2);
  color: #43413f;
  display: flex;
  flex-flow: row wrap;
  padding: 0.5em;
  position: relative;
}
.App > * {
  flex: 1 100%;
  position: relative;
}
.fork-me {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.form-row {
  display: flex;
  margin-bottom: 0.5em;
}
.form-row > * {
  flex: 1 100%;
}

h1, h2, h3 {
  font-weight: 900;
}

.results {
  text-align: center;
  border-top: 1px dashed #666;
  border-bottom: 1px dashed #666;
  padding: 1em 0;
  margin-top: 2em;
}

.dilution-header {
  border-top: 1px dashed #666;
  padding-top: 1em;
}

.app-header {
  border-bottom: 1px dashed #666;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app-logo {
	font-size: 70px;
  flex: 0 1 100px;
  text-align: right;
  padding-right: 0.5em;
}
.app-title {
  margin-top: 0px;
  color: #222;
  font-family: 'Quattrocento', serif;
  font-size: 2rem;
  /* flex: 1; */
  flex: 0 1 auto;
  text-align: left;
  max-width: 500px;
}


.dilution-profile {
  display: block;
}

h3{
  text-transform: uppercase;
  font-size: 1.9em;
  font-weight: 800;
  letter-spacing: 0.03em;
}


ul {
  list-style-type: none;
	padding: 0;
}
li {
  margin-bottom: 15px;
  text-align: left;
}

.bottle-input label, .bottle-input input, .bottle-input select, select.dilution-profile {
	display: block;
  margin-top: 5px;
}

label {
  margin-bottom: 1em;
}

.unit-picker {
  max-width: 100px;
}

.bottle-size-input {
  max-width: 200px;
}
.fork-me {
  position: absolute;
}

input,
select {
	height: 28px;
	padding: 5px 10px;
	font-size: 15px;
	outline: none!important;
	border: 0;
	/* box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2); */
	margin-right: 10px;
  width: auto;
  background: #fff;
}
button, select {
	height: 39px;
  border-radius: 0;
  -webkit-appearance: none;
  color: #43413f;
}
.form-row button {
  text-transform: uppercase;
  background: transparent;
  font-weight: 800;
  width: auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  flex: none;
  border: 1px solid #999;
  background-color: #999;
  cursor: pointer;
  color: #edecea;
}

section.about h3{
  border-top: 1px dashed #666;
  border-bottom: 1px dashed #666;
}

section.about > * {
  flex: 1 300px;
  padding: 20px;
  line-height: 1.8em;
}

section.about h3 {
  text-align: center;
  align-self: center;
}

.totals {
  font-size: 1.1em;
}

.totals strong {
  font-family: 'Quattrocento', serif;
  font-size: 1.5em;
}

.totals ul {
  padding: 10px;
}

.totals ul li span.quantity{
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  min-width: 50px;
}

@media all and (min-width: 500px) {
  .totals {
    display: flex;
    justify-content: space-evenly;
  }

  .totals {
    display: flex;
    justify-content: space-evenly;
  }

}
@media all and (min-width: 845px) {
  .App {
    padding: 2em;
  }
  .form-control-set {
    flex: 1 300px;
    padding: 0 2em 2em 2em;
  }
  .ingredient-list {
    border-right: 1px dashed #666;
    padding-right: 4em;
  }
  .batch-info {
    padding-left: 4em;
  }
  .app-logo {
    flex: 0 1 300px;
    font-size: 90px;
  }
  .app-title {
    font-size: 3rem;
  }
  .app-header {
    margin-bottom: 40px;
  }
  section.about{
    border: 1px dashed #666;
    display: flex;
  }
  section.about h3{
    border: 0;
  }
  .fork-me {
    top: 0px;
    right: 0px;
  }
}
